@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-image: url("https://images.unsplash.com/photo-1510511459019-5dda7724fd87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:darkorange;
  }
  header{
    /*background-color: rgb(180, 158, 180);
    height: 100%;
    padding:20px; */
    margin-top: 1em;
    color: orange;
  } 
  
  h1{
    text-align: center;
    margin-bottom: 0.5em;
   
  }
  /* ol {
  list-style: none;
  margin: 0 50px;
} */

.hero {
    text-align: center;
    /* margin: 40px; */
    color: orange;
    font-size: 60%;
   }
   
   #form {
     width:30em;
     height: 3em;
     font-size: medium;
     border-radius:15px;
   }
   